:root {
  --main-font: "Roboto", sans-serif;
  --header-font: "Raleway", sans-serif;
  --accent: #2196f3;
  --black-text: #212121;
  --grey-text: #757575;
  --black-background: #2f303a;
  --grey-button: #f5f4fa;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--grey-text);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  text-decoration: none;
  font-family: var(--header-font);
  font-size: 26px;
  font-weight: 700;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.nav-item,
.nav-item:visited {
  text-decoration: none;
  color: var(--black-text);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.active,
.active:visited {
  color: var(--accent);
}

.header-contact {
  color: inherit;
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent);
}

.hero-heading {
  color: #fff;
  background-color: var(--black-background);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.primary-btn {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.radio-btn {
  color: var(--black-text);
  font-weight: 700;
  background-color: #eeeeee;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.radio-btn:hover,
.radio-btn:focus {
  color: #fff;
  font-weight: 700;
  background-color: var(--accent);
  border: none;
  font-size: 16px;
}

.hidden {
  opacity: 0;
}

.first-section-heading {
  font-weight: 700;
  font-size: 14px;
  color: var(--black-text);
  text-transform: uppercase;
}

.first-section-paragraph {
  font-size: 14px;
  line-height: 1.71;
}

.section-heading {
  font-weight: 700;
  color: var(--black-text);
}

.team-name {
  color: var(--black-text);
}

footer {
  background-color: var(--black-background);
}

.address-link,
.address-link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.first,
.first:visited {
  color: #fff;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent);
}

.products li {
  border: 1px solid #eee;
}

.products h2 {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.products p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
